.questionList {
    .question {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.variant {
    padding-top: 30px;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
