.dashboard {
    padding-top: 80px;
}

.padded {
    padding-left: 20px;
    padding-right: 20px;
}


.timer {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: white;
    z-index: 9999;
}