body {
    background-color: #F4F3F0;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Sunflower', sans-serif;
}

.contentWrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 0.5em;
}